.App {
  text-align: left;
}

.display {
  background-color: cornsilk;
  height: 60px;
}
.container {
  text-align: left;
  margin-left:10px;
  background-color: white;
}

.btn {
  width: 100%
}

.row {
  margin-bottom: 7px;;
}
.calcButton {
  width: 25%;
  font-size: 22px;
  padding: 2px;
  display: inline-block;
}

.calcButton.wide {
  width: 50%;
}

.calcButton button {
  background-color: #7f7f7f;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.calcBorder {

  background-color: grey;
  border: 1px solid gray;

  margin-top:10px;

  padding-top:10px;
  padding-bottom: 0;
  padding-left:7px;
  padding-right:7px;
}
